# Ignore the GPT-2 model checkpoint file
gpt2_124M.bin

# Or if it's in a specific directory
# checkpoints/gpt2_124M.bin

# Other common ignores
*.log
*.tmp
*.swp
*.bak
*.pyc
*.bin
*.pt
*.pth
*.h5
__pycache__/
build/
dist/
DoxygenOut/
dev/data/tinystories/
edu-fineweb/
tinystories/
c4_tokenized/

# Ignore the virtual environment
venv/
grammer_corrections/

# Ignore Windows Zone.Identifier files
*:Zone.Identifier
